
    <div class="pic1">
        <a href="/products/<%= product.id %>">
            <img src="images/<%= product.image %>" alt="<%= product.name %>">
            <p class="price">$ <%= product.price %></p>
            <p class="detail-prod"><%= product.name %></p>
        </a>
    </div>